# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

bin/
build/
docker_build/

Thirdparty/edge_impulse/edge-impulse-sdk/
Thirdparty/edge_impulse/model-parameters/
Thirdparty/edge_impulse/tflite-model/
Thirdparty/edge_impulse/tensaiflow-model/
Platform/ECM3532/M3/appKconfig
Applications/edge-impulse-standalone/config.h
Applications/edge-impulse-standalone/edge-impulse-standalone.ld
*.pyc
